<div id="map"></div>
<script src="//code.jquery.com/jquery.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjqLfWAh3dvDzddi-bhW3KDqT48XN5u3k&libraries=visualization" type="text/javascript"><</script>
<script>
  google.maps.event.addDomListener(window, 'load', initialize);
  function initialize() {
    map = new google.maps.Map(document.getElementById('map'), { // #sampleに地図を埋め込む
      center: { // 地図の中心を指定
        lat: 34.7019399, // 緯度
        lng: 135.51002519999997 // 経度
      },
      zoom: 19 // 地図のズームを指定
    });
  }
</script>
<style>
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  #map {
    height: 400px;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 400px;
    margin: 0;
    padding: 0;
  }
</style>
