// Place all the styles related to the Lockers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper {
  text-align: center;
}

.locker {
  background: #DEDAC0;
  width: 200px;
  height: 200px;
  display: inline-block;
}

.totte {
  width: 21px;
  height: 64px;
  background: black;
}

.locker-container {
  display: inline-grid;
  grid-template-rows: 125px 125px 125px 125px;
  grid-template-columns: 250px 250px;
  margin-top: 100px;
}

.locker-1 {
  grid-row: 1;
  grid-column: 1;
}
.locker-2 {
  grid-row: 2;
  grid-column: 1;
}
.locker-3 {
  grid-row: 3 / 5;
  grid-column: 1;
}
.locker-4 {
  grid-row: 4;
  grid-column: 2;
}
.display {
  grid-row: 1 / 4;
  grid-column: 2;
  background: black;
  padding-top: 127px;
}

.status-text {
  font-size: 52px;
  font-weight: bold;
  color: red;
}
.icon-wrapper {
  width: 300px;
  height: 200px;
  margin-left: 55px;
}
.icon {
  background-image: url("#{asset_path('icon2.png')}");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.lost {
  background: red;
  opacity: 0.6;
}
